[Desktop Entry]
Icon=text-html
Name=https://www.unix.com/programming/21041-getting-username-c-program-unix.html
Type=Link
URL[$e]=https://www.unix.com/programming/21041-getting-username-c-program-unix.html
